

<div class="container-fluid">
    <h1>Entrollment form</h1>
    <form #userForm="ngForm">

      {{ userForm.value | json}}


      <hr/>

      {{userModel | json}}
        <div class="form-group">
          <label>Name</label>
          <input type="text" required #name="ngModel" class="form-control" [class.is-invalid]="name.invalid && name.touched" [class.is-invalid]="name.touched" name="name" [ngModel]=userModel.name>
          <small class = "text-danger" [class.d-none]="name.valid || name.untouched"> name is required</small>
         </div>

        <div class="form-group">
            <label>Email</label>
          <input type="email" class="form-control"name="email" [ngModel]=userModel.email>
          </div>
        
          <div class="form-group">
              <label>Phone</label>
            <input type="tel" #phone ="ngModel" pattern="^\d{10}$"[class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone"[ngModel]=userModel.phone>
          <small class="text-danger" [class.d-none]="phone.invalid || phone.untouched">required and must be 10 digits</small>
          </div>


    <div class="form-group">
        <select class="custom-select" [ngModel]=userModel.topic name="topic">
          <option selected>I am interested in</option>
         
         <option *ngFor="let topic of topics" [value]="topic">{{ topic }}</option>
        </select>
          </div>
         
<div class = "mb-3"><label>time perference</label>

 <div class="md-3"><input class="form-check-input" [ngModel]=userModel.timePreference type = "radio" name="timePreference" value="morning">
  Morning (9 AM - 12 AM)</div>
<div class="md-3"><input class="form-check-input" [ngModel]=userModel.timePreference type = "radio" name="timePreference" value="evening">
  Evening (9 AM - 12 AM)</div>

</div>

<div class="form-check mb-3"><input class="form-check-input"[ngModel]=userModel.subscribe name="subscribe"type="checkbox">Send me promotion offer</div>

<div>
<button class="btn btn-primary">submit</button></div>
            </form>